.App {
  text-align: left;
}
.todo{
  font-weight: bolder;
  margin-left: 10px;
}
.add{
  margin-left: 10px;
}
.ol {
list-style-type: upper-roman;
margin-left: -10px; }
button {
  margin-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 8px;
  padding-left: 8px;
}
.ol li button {
  margin-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 8px;
  padding-left: 8px;
}

  
